@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --tertiary: 18 98% 50%;
    --tertiary-foreground: 174 97% 100%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --tertiary: 18 98% 50%;
    --tertiary-foreground: 174 97% 100%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*=============== LOADING DOTS ===============*/

#loading-dots span {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background: #cffafe;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#loading-dots span:nth-child(2) {
  background-color: #67e8f9;
  animation-delay: 0.2s;
}

#loading-dots span:nth-child(3) {
  background-color: #06b6d4;
  animation-delay: 0.4s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=============== CARD BACK ===============*/

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: #fff;
  --container-color: #f1f5f9;
  --text-color: theme(colors.cyan.500);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Inter", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  --card-width: 325px;
  --card-height: 450px;
}

/*=============== CARD ===============*/
.card__container {
  display: grid;
  gap: 2rem;
}
.card__container {
  padding-block: 4.5rem;
}
.card__icon {
  font-size: 3rem;
}
.card__data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  z-index: 10;
}
.card__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.card__description {
  margin-bottom: 1.5rem;
}
.card__article {
  width: var(--card-width);
  height: var(--card-height);
  --hue-1: 185;
  --hue-2: 187;
  --color-1: theme(colors.cyan.50);
  --color-2: theme(colors.cyan.200);
  position: relative;
  color: var(--white-color);
  padding: 4rem 2rem 3rem;
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box,
    linear-gradient(135deg, var(--color-1) 0%, var(--container-color), var(--container-color), var(--color-2) 100%)
      border-box;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__common {
  --hue-1: 212;
  --hue-2: 215;
  --color-1: theme(colors.slate.300);
  --color-2: theme(colors.slate.600);
}

.card__uncommon {
  --hue-1: 156;
  --hue-2: 161;
  --color-1: theme(colors.emerald.300);
  --color-2: theme(colors.emerald.600);
  --text-color: theme(colors.emerald.600);
}

.card__rare {
  --hue-1: 199;
  --hue-2: 200;
  --color-1: theme(colors.sky.300);
  --color-2: theme(colors.sky.600);
  --text-color: theme(colors.sky.600);
}

.card__epic {
  --hue-1: 252;
  --hue-2: 262;
  --color-1: theme(colors.violet.300);
  --color-2: theme(colors.violet.600);
  --text-color: theme(colors.violet.600);
}

.card__legendary {
  --hue-1: 45;
  --hue-2: 32;
  --color-1: theme(colors.amber.300);
  --color-2: theme(colors.amber.600);
  --text-color: theme(colors.amber.600);
}

.card__shape-1 {
  position: relative;
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
}
.card__shape-2 {
  width: 116px;
  height: 116px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 1.5rem;
}
.card__shape-3 {
  width: 76px;
  height: 76px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
  border-radius: 1rem;
  display: grid;
  place-items: center;
}
.card__shape-2,
.card__shape-3 {
  position: absolute;
  inset: 0;
  margin: auto;
}

.card__scale-1 {
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 2rem;
  top: 4rem;
}
.card__scale-2 {
  width: 116px;
  height: 116px;
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}
.card__scale-1,
.card__scale-2 {
  position: absolute;
  filter: blur(24px);
  transition: transform 0.3s ease-in;
}
.card__article:hover .card__scale-1 {
  transform: scale(6);
}
.card__article:hover .card__scale-2 {
  transform: scale(6);
  transition-delay: 0.1s;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .card__article {
    padding: 2rem 1rem;
  }
  .card__scale-1 {
    top: 2rem;
  }
  .card__scale-2 {
    top: 3rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .card__container {
    grid-template-columns: 328px;
  }
}
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 328px);
  }
}
/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }
  .card__container {
    grid-template-columns: repeat(3, 345px);
  }
  .card__article {
    padding: 4.5rem 2rem 3.5rem;
  }
}

/*=============== GLASSMORPHISM BUTTON ===============*/

:root {
  --button-text: white;
  --button-surface: theme(colors.orange.400);
}

.glassy-button {
  --_padding: 1rem 1.5rem;
  --_transition-speed: 200ms;
  --_hover-opacity: 0.4;
  --_pressed-opacity: 0.15;
  --_hover-blurriness: 5px;
  --_pressed-blurriness: 10px;
  --_frostiness: 0.3;
  --_hover-offset: 0.5rem;
  --_pressed-offset: 0.25rem;
  --_motion-factor: 0.1; /* 0 -> 1 */

  outline: 0;
  cursor: pointer;
  font: inherit;
  color: var(--button-text);
  font-weight: 500;
  padding: 0;
  border: 0;
  border-radius: 1rem;
  background-color: transparent;
  position: relative;

  span {
    display: block;
    overflow: hidden;
    padding: var(--_padding);
    border-radius: inherit;
    background-color: hsl(0 0% 100% / 0);
    backdrop-filter: blur(0px);
    transition: background-color var(--_transition-speed), backdrop-filter var(--_transition-speed),
      translate var(--_transition-speed);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml, %3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 171 171' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.74' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      opacity: 0;
      transition: opacity var(--_transition-speed);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    background-color: var(--_surface);
    transition: scale var(--_transition-speed), translate var(--_transition-speed);
    animation: exit_btn forwards var(--_transition-speed);
  }

  &:hover,
  &:focus-visible {
    span {
      outline: 1px solid hsl(0 0% 100% / 0.7);
      background-color: hsl(0 0% 100% / var(--_hover-opacity));
      backdrop-filter: blur(var(--_hover-blurriness));
      translate: 0 calc(var(--_hover-offset) * -1);

      &::before {
        opacity: var(--_frostiness);
      }
    }
    &::after {
      scale: 0.95;
      translate: 0 0.125rem;
      animation: enter_btn forwards var(--_transition-speed);
    }
  }

  &:active {
    span {
      backdrop-filter: blur(var(--_pressed-blurriness));
      background-color: hsl(0 0% 100% / var(--_pressed-opacity));
      translate: 0 calc(var(--_pressed-offset) * -1);
    }
    &::after {
      scale: 0.875;
      translate: 0 0.25rem;
    }
  }
}

@keyframes enter_btn {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(
      calc(var(--_x-motion) * var(--_motion-factor) * -1),
      calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
}

@keyframes exit_btn {
  from {
    transform: translate(
      calc(var(--_x-motion) * var(--_motion-factor) * -1),
      calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
  to {
    transform: translate(0, 0);
  }
}

.glassy-button {
  --_surface: var(--button-surface);
}

/*=============== GLASSMORPHISM BUTTON - COLLECTION ===============*/


:root {
  --collection-button-text: white;
  --collection-button-surface: theme(colors.cyan.500);
}

.collection-glassy-button {
  --_padding: 1rem 1.5rem;
  --_transition-speed: 200ms;
  --_hover-opacity: 0.4;
  --_pressed-opacity: 0.15;
  --_hover-blurriness: 5px;
  --_pressed-blurriness: 10px;
  --_frostiness: 0.3;
  --_hover-offset: 0.5rem;
  --_pressed-offset: 0.25rem;
  --_motion-factor: 0.1; /* 0 -> 1 */

  outline: 0;
  cursor: pointer;
  font: inherit;
  color: var(--collection-button-text);
  font-weight: 500;
  padding: 0;
  border: 0;
  border-radius: 1rem;
  background-color: transparent;
  position: relative;

  span {
    display: block;
    overflow: hidden;
    padding: var(--_padding);
    border-radius: inherit;
    background-color: hsl(0 0% 100% / 0);
    backdrop-filter: blur(0px);
    transition: background-color var(--_transition-speed), backdrop-filter var(--_transition-speed),
      translate var(--_transition-speed);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml, %3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 171 171' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.74' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      opacity: 0;
      transition: opacity var(--_transition-speed);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    background-color: var(--_surface);
    transition: scale var(--_transition-speed), translate var(--_transition-speed);
    animation: exit_btn forwards var(--_transition-speed);
  }

  &:hover,
  &:focus-visible {
    span {
      outline: 1px solid hsl(0 0% 100% / 0.7);
      background-color: hsl(0 0% 100% / var(--_hover-opacity));
      backdrop-filter: blur(var(--_hover-blurriness));
      translate: 0 calc(var(--_hover-offset) * -1);

      &::before {
        opacity: var(--_frostiness);
      }
    }
    &::after {
      scale: 0.95;
      translate: 0 0.125rem;
      animation: enter_btn forwards var(--_transition-speed);
    }
  }

  &:active {
    span {
      backdrop-filter: blur(var(--_pressed-blurriness));
      background-color: hsl(0 0% 100% / var(--_pressed-opacity));
      translate: 0 calc(var(--_pressed-offset) * -1);
    }
    &::after {
      scale: 0.875;
      translate: 0 0.25rem;
    }
  }
}

@keyframes enter_btn {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(
      calc(var(--_x-motion) * var(--_motion-factor) * -1),
      calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
}

@keyframes exit_btn {
  from {
    transform: translate(
      calc(var(--_x-motion) * var(--_motion-factor) * -1),
      calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
  to {
    transform: translate(0, 0);
  }
}

.collection-glassy-button {
  --_surface: var(--collection-button-surface);
}